/*!
* zeynepjs v2.1.0
* A light-weight multi-level jQuery side menu plugin.
* It's fully customizable and is compatible with modern browsers such as Google Chrome, Mozilla Firefox, Safari, Edge and Internet Explorer
* MIT License
* by Huseyin ELMAS
*/
.zeynep{
  bottom:0;
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
  overflow-y:auto;
  pointer-events:none;
  position:fixed;
  top:0;
  transform:translateX(-100%);
  z-index:1011;
}

.zeynep:not(.no-transition),
.zeynep .submenu:not(.no-transition){
  transition:all 250ms;
}

.zeynep-overlay{
  background-color:rgba(0, 0, 0, .42);
  bottom:0;
  display:none;
  left:0;
  position:fixed;
  right:0;
  top:0;
  z-index:1010;
}

.zeynep-opened .zeynep-overlay{
  display:block;
}

.zeynep.opened{
  pointer-events:auto;
  transform:translateX(0px);
}

.zeynep.submenu-opened{
  overflow:hidden;
}

.zeynep .submenu{
  bottom:0;
  min-height:100%;
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
  overflow-y:auto;
  pointer-events:none;
  position:fixed;
  top:0;
  width:100%;
}

.zeynep .submenu.opened{
  left:0;
  pointer-events:auto;
}

.zeynep .submenu.opened:not(.current){
  overflow:hidden;
}
.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}